<!DOCTYPE html>
<html>
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}
      
      <!-- main header -->
      <div class = "containter-fluid main_header">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class = "row">

                    <div class = "col-md-12 col-12 main_header_left align_items_center">
                        <figure class = "errimg">
                            <img src = "images/bg5.jfif" alt = "narasimha" class = "img-fluid" title = "boom boom">
                        </figure>

                        <p> welcome to the weather app</p>
                        <h1>{{errormsg}}</h1>
                        <a href = "/"> <button>Go Back</button> </a>

                    </div>

                    
                </div>
            </div>
        </div>

      </div>
{{>footer}}
</body>
</html>